<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
<div class="card">
  <img src="data:image/gif;base64,{{user.image}}" alt="profile" style="width:100%">
  <h3>Name :{{user.name}}</h3>
  <p class="title">Email :{{user.email}}</p>
  <p>Contact :{{user.contact}}</p>
  <h5><a routerLink="/myblogs/{{user.userId}}">My Blogs</a></h5>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p></p>
</div>
