
<div class="jumbotron">
    <div class="container" style="text-align: center">
    <h1>{{categories.name}}</h1>
    <p>{{categories.description}}</p>
</div>
</div>

<div class="row" style="margin-left: 30px">
&nbsp;
<div *ngFor="let blog of postlist">
  <div class="column">
    <div class="card1">
      <img src="data:image/gif;base64,{{blog.image}}" alt="image" style="width:400px;height: 200px;">
      <div class="container">
        <h4><b><a routerLink="/blog/{{blog.pId}}">{{blog.blogTitle}}</a></b></h4>
        <p><label for="Description">{{blog.description}}</label></p>
      </div>
    </div>
  </div>
</div>
</div>
